{% extends 'layout-side-nav.html' %}

{% import 'molecules/pagination.html' as pagination with context %}

{% block content_modifiers -%}
    {{ super() }} see-all-page
{%- endblock %}

{% block content_main %}
    <h1>
      {{ page.portal_topic }}
      {% if category %}
        {{ category | lower }}
      {% endif %}
    </h1>
    <p class="lead-paragraph">
        {{ page.overview }}
    </p>
    <aside class="o-well u-mt30">
        <form method="get" action="." class="content-l">
            <label for="ask-search" class="a-label a-label__heading">
                Narrow your search
            </label>
            <div class="m-form-field">
                <input
                    class="a-text-input a-text-input__full"
                    type="text"
                    name="search_term"
                    value="{{ search_term }}">
                <button class="a-btn" id="ask-search" type="submit">
                    Search
                </button>
            </div>
        </form>
    </aside>

    <div class="block block__sub">
        {% from 'molecules/notification.html' import render as notification with context %}
        {{ notification('success', True, results_message) }}
    </div>

    <section class="results">
        {% for page in pages %}
        <article>
            <h3> {{ page.question }} </h3>
            <p> {{ page.short_answer | safe }} </p>
            <p>
                <a href="{{ page.url }}">Read full answer</a>
            </p>
        </article>
        {% endfor %}

        <div class="block block__sub">
            {{ pagination.render( paginator.num_pages, current_page, '', 0, 'Previous', 'Next' ) }}
        </div>
    </section>

{% endblock %}
